.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  position: relative;
}

.mainContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../public/assets/forest.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0.5;
}

.mainContainer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hell {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  position: relative;
}

.hell::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../public/assets/hell.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0.5;
}

.hell::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.ice {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  position: relative;
}

.ice::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../public/assets/ice.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0.5;
}

.ice::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.desert {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  position: relative;
}

.desert::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../public/assets/desert.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0.5;
}

.desert::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.headerMenuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.headerMenuContainer span {
  cursor: pointer;
  z-index: 1000;
}

.inventory {
  display: flex;
  gap: 4px;
}

.inventoryItem {
  width: 45px;
  height: 45px;
  background: burlywood;
  cursor: pointer;
  z-index: 1000;
}

.statsMenu{
  width: 150px;
  height: 150px;
  background: black;
  position: absolute;
  top: 48px;
}

.spells {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
  z-index: 1000;
}

.spell {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
}

.spells button {
  display: flex;
  gap: 3px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.questBoardContainer {
  height: 200px;
  width: 250px;
  background: transparent;
  background-image: url("../../public/assets/board.png");
  background-size: cover;
  z-index: 1000;
}

.mapContainer {
  height: 200px;
  width: 250px;
  background: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}


.forestMap{
  width: 48%;
  height: 48%;
  background-image: url("../../public/assets/forest.png");
  background-size: cover;
  background-color: greenyellow;
  z-index: 1000;
}
.hellMap{
  width: 48%;
  height: 48%;
  background-image: url("../../public/assets/hell.png");
  background-size: cover;
  background-color: orange;
  z-index: 1000;
}
.iceMap{
  width: 48%;
  height: 48%;
  background-image: url("../../public/assets/arctic.png");
  background-size: cover;
  background-color: gainsboro;
  z-index: 1000;
}
.desertMap{
  width: 48%;
  height: 48%;
  background-image: url("../../public/assets/desert.png");
  background-size: cover;
  background-color: aqua;
  z-index: 1000;
}
